<nav class="navbar">

    <div class="nav-inner">

        <a href="/" class="logo">

            <span class="logo-box">
                P
            </span>

            <span>
                PythonJobs
            </span>

        </a>

        <div class="nav-links">

            <a href="/">
                Jobs
            </a>

            <a href="/analytics">
                Analytics
            </a>

            <a href="#about">
                About
            </a>

        </div>

    </div>

</nav>