<div class="stats-grid">

    <div class="stat-card">

        <span class="stat-label">
            Total Jobs
        </span>

        <strong>
            {{ total_jobs }}
        </strong>

    </div>


    <div class="stat-card">

        <span class="stat-label">
            Companies
        </span>

        <strong>
            {{ total_companies }}
        </strong>

    </div>


    <div class="stat-card">

        <span class="stat-label">
            Locations
        </span>

        <strong>
            {{ total_locations }}
        </strong>

    </div>


    <div class="stat-card">

        <span class="stat-label">
            Python Jobs
        </span>

        <strong>
            {{ python_jobs }}
        </strong>

        <small>
            {{ python_percentage }}%
        </small>

    </div>

</div>